h1 {
  font-family: "Mozilla Headline", sans-serif;
  font-size: 2rem;
  font-weight: 330;
  text-align: justify;
  background-color: #829947;
  color: #fbf9d1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 25px;
  /* padding: 0px 5px 0px 5px; */
}

h2 {
  font-family: "Mozilla Headline", sans-serif;
  font-size: 1.4rem;
  font-weight: 220;
  display: flex;
  justify-content: center;
  /* background-color: #0540f5; */
  color: #fbf9d1;
  margin-top: 50px;
  margin-bottom: 5px;

  /* margin: auto; */
}

h3 {
  color: #263510;
  background-color: #fbf9d1;
  font-family: "Work Sans", serif;
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 25px;
  padding-left: 7px;
}

h4 {
  color: #ffd941;
  background-color: #247815;
  font-family: "Work Sans", serif;
  font-size: 1.05rem;
  font-weight: 500;
  /* text-decoration: underline; */
  /* font-style: italic; */
  margin: 10px;
  padding: 4px;
}

a {
  color: #89b58c;
  font-style: italic;
  transition: 0.1s;
}

a:hover {
  font-weight: 650;
}

#link {
  color: #fbf9d1;
  flex-direction: row;
  text-align: justify;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* margin: 20px; */
  font-weight: 500;
  font-size: 1.1rem;
}

main {
  width: 620px;
  flex-direction: column;
  text-align: justify;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 50px;
  gap: 0;
  color: #fbf9d1;
}

body {
  font-family: "Work Sans", serif;
  background-color: #263510;
}

#visual-plan {
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
  gap: 10px;
}

img {
  width: 100%;
}

ul {
  margin: auto;
  padding: 15px;
  padding-left: 40px;
  padding-right: 40px;
}
.italic {
  font-style: italic;
}
.title {
  font-style: italic;
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.response {
  background-color: #cee2cc;
  color: #263510;
  padding: 4px;
}
footer {
  width: 100%;
}

#footer-section {
  width: 100%;
  font-family: "Work Sans", serif;
  color: #263510;
  font-weight: 400;
  font-size: 0.9rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: #fbf9d1;
  padding: 0px 15px 0px 15px;
  margin-top: 90px;
  margin-bottom: -200px;
}

.footer-section > * {
  flex: 1;
}
